@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #040404;
  --white: white;
  --gray: rgb(38, 36, 36);
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.menu .menu-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  list-style-type: none;
  width: 100%;
  z-index: 999;
  background: transparent;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  transition: 0.3s ease-in;
}

.menu-navbar li a {
    float: left;
    font-size: 24px;
    list-style: none;
    margin-right: 6rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    color: var(--white);
    text-decoration: none;
    position: relative;
    padding-bottom: 5px; /* Çizgi ile metin arasına mesafe bırakır */
}

.menu-navbar li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; /* Çizginin kalınlığı */
    background-color: var(--white); /* Çizginin rengi */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .menu-navbar li a:hover::after {
    width: 100%; /* Çizgi tam genişliğe ulaşıyor */
    left: 0;
  }

/* carousel */
.carousel {
  height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background-size: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 18%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 20%;
  box-sizing: border-box;
  color: var(--black);
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 4rem;
  color: white;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: white;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons a {
  text-decoration: none;
  color: white;
}
.carousel .list .item .buttons a:hover {
  color: gray;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: var(--black);
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--white);
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: var(--black);
  color: #eee;
}

/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 300;
}
.thumbnail .item .content .description {
  font-weight: 300;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: var(--gray);
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Kutular arası boşluk */
  padding: 20px;
}

section {
  width: 300px; /* Her kutunun genişliği */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}

section:hover {
  transform: translateY(-5px); /* Hover efekti */
}

/* Resimlerin eklenmesi */
section::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

#Biografi::before {
  background-image: url("image/salvador-dali-portret.webp"); /* Dalí’nin biyografisi için resim */
}

#Eserler::before {
  background-image: url("image/eser1.jpg"); /* Eserler bölümü için resim */
}

#style::before {
  background-image: url("image/eser3.png"); /* Tarz ve özellikler bölümü için resim */
}

#legacy::before {
  background-image: url("image/eser2.jpg"); /* Miras bölümü için resim */
}

/* İçeriğin üst kısımdan başlaması */
section h2 {
  margin-top: 100px;
}
footer {
  background-color: var(--black);
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  margin-top: 30px;
}
